<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Collaborators</h4>
  </div>
    <% if current_user %>
      <%= render partial: 'collaborations/form', locals: { wiki: wiki, collaboration: collaboration } %>
    <% end %>
    <% wiki.collaborations.each do |collab| %>
    <%= collab.user.email %>
    <%= link_to "Remove", collab, method: :delete, data: { confirm: 'Are you sure you want to remove this user?'} %>
    <% end %>
  </div>
</div>